[run]
branch = 1
cover_pylib = 0
include = *deux/*
omit = deux.tests.*

[report]
omit =
    */python?.?/*
    */site-packages/*
    */pypy/*
    deux/app_settings.py
    deux/exceptions.py
    deux/tests/*
    deux/migrations/*
    manage.py
    test_proj/*
