[run]
branch = 1
cover_pylib = 0
include = *drf_mfa/*
omit = drf_mfa.tests.*

[report]
omit =
    */python?.?/*
    */site-packages/*
    */pypy/*
    drf_mfa/app_settings.py
    drf_mfa/exceptions.py
    drf_mfa/tests/*
    drf_mfa/migrations/*
    manage.py
    test_proj/*
